.logo{

}
.logo_imagen{
    height: 61px;
    width: 140px;

}
ul {
    list-style-type: none;
}
li {
    float: left;
    
  }
li a{
    padding: 45px 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 14px;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 90px;
    background: #092a49;
    align-items: center;
    overflow: hidden;
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    
}

li a:hover {
    background-color: cornflowerblue;
  }

  .flex-texto{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      height: 600px;
      text-align: center;
      align-items: center;
      padding-left: 5%;
      padding-right: 5%;
  }
  .flex-texto_1{
      /* padding: 20px 40px; */
      color: #223F59;
      font-family: 'Lato', sans-serif;
  }
  
  .flex-texto_1--cabecera{
    font-size: 60px;
    font-weight: 500;
  }
  .flex-texto_1--pe{
    font-size: 20px;
    padding-left: 7%;
    font-weight: 400;
      padding-right: 7%;
  }
  /* h1, p{
    font-family: 'Lato', sans-serif;
  } */